.cardFlexWrapper {
  width: 65%;
  margin: auto;

}


.cardFlex {
  padding-top: 20px;
  display: grid;
  gap: 5rem;
  grid-template-columns: 60% 25%;
}
.cardFlex__4 {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background-color: #aaa;
  border-radius: 8px;
  /* flex-grow: 1; */
  /* width: 25%; */
  /* height: auto; */

  /* columns: 4; */
  
}
.points {
  background-color: aquamarine;
}